{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %} {{ language.info.community }} {% endblock %}


{% block content %}
	<div class="container">
		<div class="row">
			<div class="col s12 m10">
				<h3 class="truncate white-text">{{language.community.greeting}} {{user.username}}</h3>
				<p class="flow-text white-text">{{language.community.info}}</p>

				 {% if codes.all %}
					 {% for code in codes.all %}
						 <div class="card-panel z-depth-2 hoverable card-usercode"  style="overflow: hidden;">
							<div class="col s4 m2">
								<img src="https://api.fnkr.net/testimg/200x200/00CED1/FFF/?text={{code.user.initial}}" class="responsive-img circle">
							</div>
							<div class="col s8 m10">
								<div class="right date">{{code.creation_date}}</div>
								<div class="username">{{code.user.first_name}} {{code.user.last_name}} ({{code.user.username}})</div>
								<div class="codename">{{code.name}}</div>
								<div class="description">{{code.description}}</div>
							</div>
						</div>
					 {% endfor %}
				 {% else %}
					 <div class="center">
						 <h4>No se han encontrado aportes de codigos</h4>
					 </div>
				 {% endif %}
			</div>
		</div>
	</div>
{% endblock %}


{% block extrajs %}
	<script type="text/javascript">
		$(document).ready(function(){

            $('select[name=idioms]').change(function(){
                url = "{% url 'page:home' %}"+$(this).val()+"/community";
                console.log(url);
                location.href = url;
            });

            $('body').addClass('teal');

		});
	</script>
{% endblock %}
