body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

@media screen and (min-width: 800px){
	nav .nav-wrapper .container {
		width: 85%;
	}
}
.card-panel {
	border-radius: 10px;
}
/*======================== Page Home ==========================*/
img.flag {
	width: 30px;
	margin-top: 17px;
	margin-left: 3px;
	float: right;
}
.idioms {
	margin-top: 10px;
	width: 160px;
}
.idioms input.select-dropdown{
	border-bottom: 0;
}
.idioms > span.caret {
	/*color: white;*/
	display: none;
}

/*========================  COMMUNITY ==========================*/
.card-usercode {
	padding: 10px;
	padding-bottom: 5px;
	border-radius: 7px;
}
.card-usercode .date{
	font-size: 14px;
	font-weight: 500;
	color: grey;
}
.card-usercode .username{
	color: #008864;
	font-size: 22px;
	font-weight: 500;
}
.card-usercode .codename{
	font-size: 18px;
	font-weight: 500;
}
.card-usercode .description{
	font-size: 16px;
}

/*========================  COMPILER ==========================*/
.btn-panel-compiler .btn {
	border-radius: 4px;
	margin-left: 10px;
}
.card-log {
	min-height: 100px;
}
#compilation_log {
	height: 140px;
	border: 1px dashed grey;
	padding-left: 10px;
	overflow: scroll;
	font-size: 13px;
}
/*========================  PROFILE ==========================*/
.profile-icon {
	height: 300px;
	width: 300px;
}
.profile-text {
	font-size: 20px;
}
.btn-rounded {
	border-radius: 40px;
}
.dashed-divider {
	border-top: 2px dashed lightgrey;
	margin: 10px;
}
.profile-text h6 {
	font-size: 18px;
	line-height: 2.2;
	margin-bottom: 20px;
}
.add-padding {
	padding-left: 20px;
}
.border {
	border: 1px dashed grey;
	min-height: 200px;
}

/*========================  LOGIN ==========================*/
a.btn-block {
	border-radius: 5px;
	margin: 10px;
	min-width: 100%;
	padding: 0;
}
a.btn-google {
	background-color: red;
}
a.btn-google:hover {
	color: red;
	background-color: white;
}
a.btn-github {
	background-color: #212121;
}
a.btn-github:hover {
	color: #212121;
	background-color: white;
}
a.btn-facebook {
	background-color: #01579b;
}
a.btn-facebook:hover {
	color: #01579b;
	background-color: white;
}

a.btn-twitter {
	background-color: #22b8cf;
}
a.btn-twitter:hover {
	color: #22b8cf;
	background-color: white;
}

a.brand {
	font-size: 50px;
}
