{% load staticfiles %}
<header>

	<ul id="drop-account" class="dropdown-content">
	  <li><a href="{% url 'page:redirect' language.min_name 'profile' %}"><i class="fas fa-user-tie fa-lg"></i> &nbsp;&nbsp;{{language.info.profile}}</a></li>
	  <!-- <li class="divider"></li> -->
	   <li><a href="{% url 'page:redirect' language.min_name 'mycodes' %}"><i class="fas fa-code fa-lg"></i> &nbsp;&nbsp;{{language.info.my_codes}}</a></li>
	  <li class="divider"></li>
	  <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt fa-lg"></i> &nbsp;&nbsp;{{language.info.logout}}</a></li>
	</ul>

	<nav>
	    <div class="nav-wrapper teal">
	      	<div class="container">
	      		<ul class="left hide-on-med-and-down">
	        		<li>
	        			{% include 'base/modules/select_languages.html' %}
	        		</li>
	      		</ul>
	      		<a href="{% url 'page:redirect' language.min_name '' %}" class="brand-logo truncate" style="margin-left: 20px;"><i class="fab fa-staylinked"></i> POICOFU</a>

				<a href="#" data-activates="mobile" class="button-collapse">
					<i class="fas fa-bars fa-lg"></i>
				</a>

	      		<ul class="right hide-on-med-and-down">
		        	<li><a href="{% url 'page:redirect' language.min_name '' %}">{{language.info.home}}</a></li>

		        	{% if request.user.is_authenticated %}
						<li><a href="{% url 'page:redirect' language.min_name 'community' %}">{{language.info.community}}</a></li>
						<li><a href="{% url 'page:redirect' language.min_name 'compiler' %}">{{language.info.compiler}}</a></li>

						<li><a href="#!" class="dropdown-button" data-activates="drop-account">
							<i class="fas fa-user-astronaut fa-lg"></i>
							{{request.user.username }} <i class="fas fa-angle-down"></i>
						</a></li>
		        	{% else %}
						<li><a href="{% url 'page:signup' %}">{{language.info.sign_up}}</a></li>
						<li><a href="{% url 'login' %}">{{language.info.login}}</a></li>
		        	{% endif %}
	      		</ul>
	      		<ul class="side-nav" id="mobile">
		        	<li><a href="{% url 'page:home' %}">{{language.info.home}}</a></li>
		        	{% if request.user.is_authenticated %}
						<li><a href="{% url 'page:redirect' language.min_name 'community' %}">{{language.info.community}}</a></li>
						<li><a href="{% url 'page:redirect' language.min_name 'compiler' %}">{{language.info.compiler}}</a></li>

						</a></li>
		        	{% else %}
						<li><a href="{% url 'page:signup' %}">{{language.info.sign_up}}</a></li>
						<li><a href="{% url 'login' %}">{{language.info.login}}</a></li>
		        	{% endif %}

	      		</ul>
	      	</div>
	    </div>
	</nav>
</header>
