{% load staticfiles %}
<div class="slider">
    <ul class="slides">
        <li>
            <img src="https://lorempixel.com/580/250/nature/1"> <!-- random image -->
            <div class="caption center-align">
                <h3>{{ language.info.name }}</h3>
                  <h4 class="light grey-text text-lighten-3" id="min_info">
                    {% if request.user.is_authenticated %}
                      {{ language.community.greeting }} {{user.username}}
                    {% else %}
                      {{ language.info.min_info }}
                    {% endif %}
                  </h4>
            </div>
        </li>
       <!--  <li>
            <img src="https://lorempixel.com/580/250/nature/2"> 
            <div class="caption left-align">
              <h3>Left Aligned Caption</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="https://lorempixel.com/580/250/nature/3">
            <div class="caption right-align">
              <h3>Right Aligned Caption</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li> -->
    </ul>
  </div>