{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %} Login {% endblock %}

{% block header %} {% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col s12 offset-m3 m6">
				{% include 'base/modules/brand.html' %}
				<div class="card-panel z-depth-4">
					<center><big>Inicio de Sesión</big></center><br>
					<form method="post">
					    {% csrf_token %}
					    <div class="input-field col s12">
					        {{ form.username }}
					        <label for="{{ form.username.label }}">{{ form.username.label }}</label>
					    </div>
					    <div class="input-field col s12">
					        {{ form.password }}
					        <label for="{{ form.password.label }}">{{ form.password.label }}</label>
					    </div>
					    <div class="m12 red-text">
					        {{ form.non_field_errors }}
					    </div>

					    <div class="row center">
					        <button type="submit" class="btn waves-effect waves-light" id="btnLogin">
					            Ingresar
					        </button>
					    </div>
					    <div class="center">
					    	<a href="{% url 'page:signup' %}">Registro</a> |
					    	<a href="#">Olvidé mi contraseña</a>
							{% if request.user.is_authenticated %}
								| <a href="{% url 'logout' %}">Logout</a>
							{% endif %}
					    </div>
					</form>

				</div>
			</div>
			<div class="col s12 offset-m3 m6">
				<div class="card-panel z-depth-4 align-center" style="overflow: hidden; padding-bottom: 10px;">
					<div class="col s6 l3">
						<a href="{% url 'social:begin' 'google-oauth2' %}" class="btn waves-effect btn-google btn-block">
							<i class="fab fa-google-plus-g fa-lg"></i>
						</a>
					</div>
					<div class="col s6 l3">
						<a href="{% url 'social:begin' 'github' %}" class="btn waves-effect btn-github btn-block">
							<i class="fab fa-github fa-lg"></i>
						</a>
					</div>
					<div class="col s6 l3">
						<a href="{% url 'social:begin' 'facebook' %}" class="btn waves-effect btn-facebook btn-block">
							<i class="fab fa-facebook-f fa-lg"></i>
						</a>
					</div>
					<div class="col s6 l3">
						<a href="{% url 'social:begin' 'twitter' %}" class="btn waves-effect btn-twitter btn-block">
							<i class="fab fa-twitter fa-lg"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block extrajs %}
	<script>
		$('body').addClass('teal');
		$('#id_username').val('admin');
		$('#id_password').val('pass2018');
	</script>
{% endblock %}
